.mobile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    &__arrow {
        width: 20px;
        height: 20px;
        stroke: #fff;
        cursor: pointer;
        &:hover {
            stroke: #FF7D5A;
        }
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #2C2C2C;
    padding: 20px 15px;
    left: -100%;
    transition: .15s;
    &.open {
        transition: .3s;
        left: 0;
    }
    &__wrapper {
        display: flex;
        width: 100%;
    }
}
